body {
    background-image: url('../static/background.jpg');
}

.icon-grid {}

.my-navbar {
    font-size: 150%;
}

.myContainer {
    background-color: rgb(90, 90, 90);
    opacity: 0.9;
    margin-top: 25px;
    margin-bottom: 25px;
}

.my-section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-card {
    background-color: rgb(254, 245, 240)
}

.row>div {
    padding: 20px;
}

.mytext-sm {
    font-family: courier;
    font-size: 160%;
    color: white;
    font-weight: bold
}

.mytext-md {
    font-family: courier;
    font-size: 200%;
    color: white;
    font-weight: bold
}